<div class="create-page-container">
  <h2>Create Test</h2>
  <label>Title:</label>
  <input [(ngModel)]="test.title" placeholder="Enter test title" />

  <label>Description:</label>
  <textarea [(ngModel)]="test.description" placeholder="Enter test description"></textarea>

  <label>Cost:</label>
  <input type="number" [(ngModel)]="test.cost" placeholder="Enter test cost" />

  <label>Subject:</label>
  <select [(ngModel)]="test.subjectId" placeholder="Select a group">
    <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
  </select>

  <button (click)="createTest()">Create</button>
</div>
